BODY {
  background-color: #FFFFFF;
}

.btn-success {
  background-color: #4CAF50; /* Green */
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

 
.text_w{
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 8px;
	border-width: 2px;
	background-color: #34495e;
	color: #FFFFFF
}
.text_r{
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 8px;
	border-width: 2px;
	background-color: #34495e;
	color: #FFFFFF

}

.buttones{
  padding-top: 10px;
  padding-left: 10px;

  border-width: 2px;
  padding-bottom: 5px;
}

.cabezera{
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 24px;
	
	text-align: center;
}
.body{
		background-color: #933030;

}